@model Domain.Entity.TaskViewModel

@{
    ViewData["Title"] = "Удалить задачу";
}
<h3>Вы точно хотите удалить задачу?</h3>
<form asp-action="Delete" asp-antiforgery="true" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="TaskName">Название</label>
        </div>
        <div class="col-8">
            <textarea type="text" asp-for="TaskName" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="TaskDescription">Описание</label>
        </div>
        <div class="col-8">
            <textarea asp-for="TaskDescription" class="form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="StatusName">Статус</label>
        </div>
        <div class="col-8">
            <select asp-for="StatusName">
                <option value="0">Создана</option>
                <option value="1">В работе</option>
                <option value="2">Завершена</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="text-right">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a asp-action="Index" class="btn btn-primary">Вернуться</a>
        </div>
    </div>
</form>

